##errorCatcher Echo
##
##
[
{
"chartPlot": {"series":
{##airquality
"pm1_0Hourly":  $span(hour_delta=24).pm1_0.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"pm2_5Hourly":  $span(hour_delta=24).pm2_5.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"pm4_0Hourly":  $span(hour_delta=24, $data_binding='divumwx_extras_binding').pm4_0.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"pm10_0Hourly": $span(hour_delta=24).pm10_0.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"aodHourly":    $span(hour_delta=24, $data_binding='divumwx_extras_binding').aerosol_optical_depth.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(3).json,
"pm1_0": $alltime.pm1_0.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"pm2_5": $alltime.pm2_5.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"pm4_0": $alltime($data_binding='divumwx_extras_binding').pm4_0.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"pm10_0": $alltime.pm10_0.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"aodMax": $alltime($data_binding='divumwx_extras_binding').aerosol_optical_depth.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##barometer and airdensity
"baromAvgHourly": $span(hour_delta=24).barometer.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"baromMaxHourly": $span(hour_delta=24).barometer.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"baromMinHourly": $span(hour_delta=24).barometer.series(aggregate_type='min', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"baromMax": $alltime.barometer.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"baromMin": $alltime.barometer.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"baromAvg": $alltime.barometer.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"airDenMax": $alltime($data_binding='divumwx_extras_binding').AirDensity.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"airDenMin": $alltime($data_binding='divumwx_extras_binding').AirDensity.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"airDenAvg": $alltime($data_binding='divumwx_extras_binding').AirDensity.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##cloudcover
"cloudCover": $day($data_binding='divumwx_extras_binding').cloudcover.series(aggregate_type='max', aggregate_interval=900, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##evapotranspiration
"evtHourly": $span(hour_delta=24).ET.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(2).json,
"evtMax": $alltime.ET.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"evtMin": $alltime.ET.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"evtAvg": $alltime.ET.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##greenhouse gases
"coHourly":  $span(hour_delta=24).co.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(3).json,
"co2Hourly": $span(hour_delta=24).co2.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"nh3Hourly": $span(hour_delta=24).nh3.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(4).json,
"no2Hourly": $span(hour_delta=24).no2.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(4).json,
"o3Hourly":  $span(hour_delta=24).o3.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(4).json,
"so2Hourly": $span(hour_delta=24).so2.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(4).json,
"coMax": $alltime.co.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"co2Max": $alltime.co2.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"nh3Max": $alltime.nh3.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"no2Max": $alltime.no2.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"o3Max": $alltime.o3.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"so2Max": $alltime.so2.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##lightning
"lightCountHourly": $span(hour_delta=24).lightning_strike_count.series(aggregate_type='sum', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"lightDistHourly":  $span(hour_delta=24).lightning_distance.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"lightDist": $alltime.lightning_distance.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"lightCount": $alltime.lightning_strike_count.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##"boltDistMax": $alltime($data_binding='boltek_binding').lightning_last_dist.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##"boltDistMin": $alltime($data_binding='boltek_binding').lightning_last_dist.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##"boltCount": $alltime($data_binding='boltek_binding').lightning_strikes_per_interval.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##"boltSum": $span(hour_delta=24, $data_binding='boltek_binding').lightning_strikes_per_interval.series(aggregate_type='max', aggregate_interval=300, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##pollen
"alderHourly":   $span(hour_delta=24, $data_binding='divumwx_extras_binding').alder_pollen.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"birchHourly":   $span(hour_delta=24, $data_binding='divumwx_extras_binding').birch_pollen.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"oliveHourly":   $span(hour_delta=24, $data_binding='divumwx_extras_binding').olive_pollen.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"grassHourly":   $span(hour_delta=24, $data_binding='divumwx_extras_binding').grass_pollen.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"mugwortHourly": $span(hour_delta=24, $data_binding='divumwx_extras_binding').mugwort_pollen.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"ragweedHourly": $span(hour_delta=24, $data_binding='divumwx_extras_binding').ragweed_pollen.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"alder": $alltime($data_binding='divumwx_extras_binding').alder_pollen.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"birch": $alltime($data_binding='divumwx_extras_binding').birch_pollen.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"olive": $alltime($data_binding='divumwx_extras_binding').olive_pollen.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"grass": $alltime($data_binding='divumwx_extras_binding').grass_pollen.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"mugwort": $alltime($data_binding='divumwx_extras_binding').mugwort_pollen.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"ragweed": $alltime($data_binding='divumwx_extras_binding').ragweed_pollen.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##rain
"rainHourly": $span(hour_delta=24).rain.series(aggregate_type='sum', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"rainRateHourly": $span(hour_delta=24).rain.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"rain": $alltime.rain.series(aggregate_type='sum', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"rainRate": $alltime.rain.series(aggregate_type='sum', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
#if $current.hail.has_data
"prainHourly": $span(hour_delta=24).hail.series(aggregate_type='sum', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"prainRateHourly": $span(hour_delta=24).hailRate.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"prain": $alltime.hail.series(aggregate_type='sum', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"prainRate": $alltime.hailRate.series(aggregate_type='sum', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
#end if
##temp
"outTempMax": $alltime.outTemp.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outTempMin": $alltime.outTemp.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outTempAvg": $alltime.outTemp.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outHumidMax": $alltime.outHumidity.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outHumidMin": $alltime.outHumidity.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outDewMax": $alltime.dewpoint.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outDewMin": $alltime.dewpoint.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"outTempHourly": $span(hour_delta=24).outTemp.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"outDewHourly": $span(hour_delta=24).dewpoint.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"outHumidHourly": $span(hour_delta=24).outHumidity.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##vpd
"vpdHourly": $span(hour_delta=24, $data_binding='divumwx_extras_binding').vpd.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"vpdMax": $alltime($data_binding='divumwx_extras_binding').vpd.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"vpdMin": $alltime($data_binding='divumwx_extras_binding').vpd.series(aggregate_type='min', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"vpdAvg": $alltime($data_binding='divumwx_extras_binding').vpd.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##wind
"windSpeedHourly": $span(hour_delta=24).windSpeed.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"windGustHourly": $span(hour_delta=24).windGust.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"windDirHourly": $span(hour_delta=24).windDir.series(aggregate_type='avg', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"windSpeedMax": $alltime.windSpeed.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"windSpeedAvg": $alltime.windSpeed.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"windGustMax": $alltime.windGust.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"windGustAvg": $alltime.windGust.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"windDirAvg": $alltime.windDir.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
##solar and energy
"solarRadiationHourly":  $span(hour_delta=24).radiation.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"solarGenerationHourly": $span(hour_delta=24, $data_binding='divumwx_extras_binding').pv_energy_today.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(2).json,
"solarExportHourly":     $span(hour_delta=24, $data_binding='divumwx_extras_binding').grid_export_today.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(2).json,
"solarHourly": $span(hour_delta=24).radiation.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"uvHourly":    $span(hour_delta=24).UV.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"solarMax": $alltime.radiation.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"solarAvg": $alltime.radiation.series(aggregate_type='avg', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(1).json,
"solarExport": $alltime($data_binding='divumwx_extras_binding').grid_export_today.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"solarGeneration": $alltime($data_binding='divumwx_extras_binding').pv_energy_today.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(0).json,
"UVMax": $alltime.UV.series(aggregate_type='max', aggregate_interval=86400, time_series='start', time_unit='unix_epoch_ms').round(1).json},
"units": "$unit.label.radiation"#slurp}
}
}
]
